/* Tomt var det här :( */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

h1 {
   text-align: center;
   letter-spacing: 3px;
   font-weight:600;
}

h1::after, h1::before {
  /* inject goats */
  background-image: url('https://image0.flaticon.com/icons/svg/194/194216.svg');
  background-size: 36px;
  display: inline-block;
  width: 36px;
  height: 36px;
  content:"";
  margin: 0 15px;
}

.header_wrapper {
  border-bottom:30px dash tomato;
  margin: 0 0 10px 0;
  height: 200px;
  width: 100%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzGH0FT9RdrUNuywLJXYcCGGhCfl32bHgXE2ektCwPZ66M9LFmOQ');
  background-repeat: no-repeat;
  background-color:rgba(255,255,200, 0.3);
  background-position: center;
}
/* #removeGoatFromCart { text-indent: -99999px; line-height: 0; } #removeGoatFromCart::after { content: "'ta bort' (Döda) en get. :("; text-indent: 0; display: block; line-height: initial; } */
